

.main-heading{
    padding:1rem;
    background-color: #e7f1fd;
  }
  .main-heading h3{
    color: #0071de;
  }
  .uni-box{
    border-radius: 12px;
    background:#fff;
    box-shadow:0 16px 32px rgba(0, 0, 0, 0.04),0 4px 8px rgba(0, 0, 0, 0.02);
  }
  .card-banner{
    position: relative;
    text-align:center;
    padding: 50px;
    height:200px;
    width:100%;
    background-position: 50% !important;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .card-banner .img-box img{
    position: absolute;
    inset: 0px;
    width:100%;
    height:100%;
  }
  .card-heading{
    color:#002147;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    text-decoration: none;
  
  }
  .card-content{
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    line-height: 24px;
    margin: 0 !important;
    color: #8594a7;
  }
  .card-button{
    cursor:pointer;
    padding: 0 15px;
    background: #0487f3;
    color:#fff;
    height:48px;
    line-height: 45px;
    border-radius: 50px;
    border:1px solid #0487f3;
    text-decoration: none;
  
  }
  .clinic-timmings{
    padding-left:1rem ;
    padding-right:1rem ;
    border-right:1px solid #8594a7;
  }
  .clinic-contact{
    padding-left:1rem ;
    padding-right:1rem ;
  }
  
  @media screen and (min-width:768px) {
    .clinic-timmings{
      padding-left:5px !important;
      padding-right:5px !important;
    }
    .clinic-contact{
      padding-left:5px !important;
      padding-right:5px !important;
    }
  }
.doctor-box{
    padding: 24px 24px 16px;
      border: 1px solid #f5f6f8;
      box-sizing: border-box;
      box-shadow: 0 16px 32px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.02);
      border-radius: 12px 12px 0 0;
      width: 100%;
  }
  .doctors-card-btn{
    text-decoration: none;
    display: inline-block;
    color:#fff;
    padding:10px;
    background:#0487f3;
    font-size: 14px;
    line-height: 20px;
    border:0;
    border-radius:0 0 12px 12px;
  }
  .doctor-box-header{
    
    min-height: 70px;
    display: flex;
    align-items: center;
  
  }
  .doctor-details-heading{
    font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0;
      color: #002147;
      padding-bottom: 5px;
  }
  .doctor-box-heading{
    text-decoration: none;
  }
  .card-btn{
    font-size: 14px;
    
  }